@media screen and (max-width: 1100px) {
  h1 {
    font-size: 40px;
  }
  
  h3 {
   font-size: 32px;
}
}

h1 {
  font-family: 'Damion', cursive;
  font-size: 7vw;
  background: -webkit-linear-gradient(0.5turn, #FB8CAB, #B4ABFC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2.5% 0; 
}

h2, h3, p {
  font-family: 'Oswald', sans-serif;
  margin: 2.5% 0; 
}

h4 {
  font-size: 22px;
}

p {
  font-size: 20px;
}

.content {
  text-align: center;
}

.tunes {
  margin: 2.5% auto;
}

.foot {
  position: fixed;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.wrapper {
  row-gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
}
