h1 {
  font-family: 'Damion', cursive;
  font-size: 5vw;
  background: -webkit-linear-gradient(0.5turn, #FB8CAB, #B4ABFC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2.5% 0; 
}

h2, h3, h4, p {
  font-family: 'Oswald', sans-serif;
}

 h3 {
   font-size: 22px;
}

h4 {
  font-size: 18px;
}

.content {
  text-align: center;
}

.tunes {
  margin: 2.5% auto;
}

.current {
    width: 450px;
    height: 450px;
  }

.current_live {
  width: 800px;
    height: 450px;
  }

.past {
  width: 300px;
  height: 300px;
}

.foot {
  position: fixed;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.wrapper {
  row-gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
}

@media screen and (max-width: 1100px) {
  h2, h3, h4, p {
  margin: 5% 0; 
}
  
  h1 {
   font-size: 9vw;
  }
  
  h3 {
   font-size: 38px;
}
  
  h4 {
  font-size: 33px;
}
  
  p {
  font-size: 28px;
}
  
   .tunes {
  margin: 5% auto;
    text-align: center;
}
  
  .current {
    width: 800px;
    height: 800px;
  }
  
  .past {
  width: 500px;
  height: 500px;
}

}
